:host {
  background: linear-gradient(to right, #d1e8ff, #9ACBD0); /* Slightly darker shades of blue */
  min-height: 100vh;
  /* background-color: #9ACBD0; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.profile-container {
    width: 50%;
    margin: 20px auto;
    background-color: white;
    font-family: Arial, sans-serif;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .profile-container h2 {
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
  }
  
  .profile-details p {
    font-size: 1rem;
    margin: 10px 0;
  }
  
  .profile-details strong {
    color: #333;
  }
  .error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 20px;
  }